@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');

#reviews{
    .reviews{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
        margin-bottom: 90px;
        h1{
            font-family: "Alan Sans";
            font-size: 45px;
        }
        h2{
            font-family: "Alan Sans";
            font-size: 25px;
            color: #555;
        }
        .reviews-cards{
            display: flex;
            align-items: center;
            gap: 100px;
            max-width: 1400px;
            overflow-x: scroll;
            scroll-behavior: smooth;
            &::-webkit-scrollbar{
                display: none;
            }
        }
    }
}