.container {
  padding: 20px;
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: absolute;
    right: 20px;
    top: 25%;
    width: 650px;
    height: 300px;
    border: 4px solid;
    border-radius: 15px;
    padding: 25px;
    background: #071d3a;
    color: #f7f1e3;
    text-align: center;
    line-height: 23px;
    .line {
      height: 2px;
      width: 100%;
      background: gray;
    }
  }
}
