.container {
  background: #090a3d;
  padding: 40px;
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    font-weight: 400;
    gap: 45px;
    .cards {
      display: flex;
      align-items: center;
      max-width: 1500px;
      overflow-x: scroll;
      gap: 50px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
